{% extends "resume/base.html" %}
{% load static %}
{% block content %}

<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">{{ firstname }} <span class="text-primary">{{ lastname }}</span></h1>
        <div class="subheading mb-5">
            <a href="mailto:{{ email }}">{{ email }}</a>
        </div>
        <p class="lead mb-5">
            🎓 {{ education }}<br>
            💻 Passionate about {{ passions }}
        </p>
        <div class="social-icons">
            <a href="{{ socials.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="{{ socials.github }}" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>

{% endblock %}