{% extends "resume/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Contact</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

<body>
    <section class="resume-section" id="contact">
        <div class="resume-section-content">
            <h2 class="mb-5">Contact</h2>
            <p>If you'd like to get in touch, feel free to reach out via the following channels:</p>
            <ul class="fa-ul mb-4">
                <li><span class="fa-li"><i class="fas fa-envelope"></i></span>
                    <strong>Email:</strong> <a href="mailto:{{ email }}">{{ email }}</a>
                </li>
                <li><span class="fa-li"><i class="fas fa-phone-alt"></i></span>
                    <strong>Phone:</strong> {{ phone }}
                </li>
                <li><span class="fa-li"><i class="fab fa-linkedin"></i></span>
                    <strong>LinkedIn:</strong>
                    <a href="{{ linkedin }}" target="_blank">{{ linkedin }}</a>
                </li>
                <li><span class="fa-li"><i class="fab fa-github"></i></span>
                    <strong>GitHub:</strong>
                    <a href="{{ github }}" target="_blank">{{ github }}</a>
                </li>
            </ul>
        </div>
    </section>
</body>

</html>

{% endblock %}