{% load static %}

<section class="resume-section" id="contact">
    <div class="resume-section-content">
        <h2 class="mb-5">Contact</h2>
        <p>If you'd like to get in touch, feel free to reach out via the following channels:</p>
        <ul class="fa-ul mb-4">
            <li><span class="fa-li"><i class="fas fa-envelope"></i></span>
                <strong>Email:</strong> <a href="mailto:farzamasadian@gmail.com">farzamasadian@gmail.com</a>
            </li>
            <li><span class="fa-li"><i class="fas fa-phone-alt"></i></span>
                <strong>Phone:</strong> +98 937 013 4528
            </li>
            <li><span class="fa-li"><i class="fab fa-linkedin"></i></span>
                <strong>LinkedIn:</strong> <a href="https://linkedin.com/in/farzam-asadian-5b558b1b9"
                    target="_blank">linkedin.com/in/farzam-asadian</a>
            </li>
            <li><span class="fa-li"><i class="fab fa-github"></i></span>
                <strong>GitHub:</strong> <a href="https://github.com/farzamasadian"
                    target="_blank">github.com/farzamasadian</a>
            </li>
        </ul>
        <p>I am always open to discussing new projects, creative ideas, or opportunities to contribute to innovative
            developments.</p>
    </div>
</section>