{% extends "resume/base.html" %}
{% load static %}
{% block content %}

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- Projects Section -->
    <section class="resume-section" id="projects">
        <div class="resume-section-content">
            <h2 class="mb-5">Projects</h2>
            <div class="row">
                {% for project in projects %}
                <div class="col-md-5 mb-4">
                    <div class="project-card p-3 shadow rounded-2xl">
                        <h3 class="project-name">{{ project.name }}</h3>
                        <p class="project-description">{{ project.description }}</p>
                        <a href="{{ project.link }}" class="btn btn-primary" target="_blank">View Project</a>
                    </div>
                </div>
                {% empty %}
                <p>No projects to show at the moment.</p>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

<!-- Bootstrap core JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}